name: test
on: [push, pull_request]
jobs:
  test:
    runs-on: self-hosted
    steps:
    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v3
      env: 
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}