name: test
on: [pull_request]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go
      uses: actions/setup-go@v5.0.0
      with:
        go-version: '1.22.1'
    - name: Check out code
      uses: actions/checkout@v4.1.6
    - name: Test and generate coverage report
      run: go test -coverprofile=coverage.out ./...
    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v4.4.1
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        file: coverage.out
