name: goreleaser

on:
  push:
    tags:
      - "*"

permissions:
  contents: write

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code 
        uses: actions/checkout@v4.1.1
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v5.0.0
        with:
          go-version: '1.22.1'
      -
        name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v5.1.0
        with:
          distribution: goreleaser
          version: ${{ env.GITHUB_REF_NAME }}
          args: release --clean
          workdir: ./
        env:
          GITHUB_TOKEN: ${{ secrets.PUBLISHER_TOKEN }}
  homebrew:
    name: Bump Homebrew formula
    runs-on: ubuntu-latest
    steps:
      - uses: mislav/bump-homebrew-formula-action@v3
        with:
          formula-name: goji
          formula-path: Formula/goji.rb
          homebrew-tap: muandane/homebrew-tap
        env:
          COMMITTER_TOKEN:  ${{ secrets.COMMITTER_TOKEN }}